## a title

some md

In [13]:
import re

In [11]:
print('\033[94mhello')

hello

In [1]:
1+1

2

In [2]:
%%html
<b>a test</b>

In [5]:
import pandas as pd
print('hi')
pd.DataFrame(dict(a=[1,2]))

hi

   a
0  1
1  2